/*---------------------------------------*\
    $Variables
\*---------------------------------------*/
:root {
    /* Color palette */
    --color-first: #f44336;
    --color-second: #c62828;
    --color-amber: #ffc400;
    --color-bg: #ffebee;
    --color-text: #263238;
    
    /* filters color */
    /* App conversor: https://codepen.io/sosuke/pen/Pjoqqp?editors=0010 */
    --color-amber-filter:;
    --color-second-filter:;
}
:root {
     /* Typography */
     --font-title: 'Rowdies', sans-serif;
     --font-content: 'Rubik', sans-serif;
     --h1-font-size: 2rem;
     --h2-font-size: 1.5rem;
     --h3-font-size: 1.2rem;
     --body-font-size: 1rem;
     --small-font-size: .8rem;
}
:root {
    /* Layout */
    --header-height: 3rem;
    --max-width: 1024px;
    --gutter: 1em;
    --border-radius: 16px;
}
:root {
    --opacity: .95;

    /* Shadow */
    --shadow-opacity: .3em;
    --shadow-move-y: 0;
    --shadow-move-x: .2em;
    --shadow-blur: calc(var(--shadow-move-x));
    --box-shadow: rgba(0, 0, 0, var(--shadow-opacity)) var(--shadow-move-x) var(--shadow-move-y) var(--shadow-blur);
}

/*---------------------------------------*\
    $Base
\*---------------------------------------*/
*,
*::after,
*::before { box-sizing: border-box; }
body {
    font-size: var(--body-font-size);
    font-family: var(--font-content);
    color: var(--color-text);
    background-color: var(--color-bg);
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
a { 
    color: var(--color-text);
    text-decoration: none; 
}
h1,
h2,
h3,
h4,
h5,
h6 { 
    margin-top: 0;
    font-family: var(--font-title); 
}
p {
    margin-top: 0;
    font-family: var(--font-content);
    font-weight: 300;
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }


/*---------------------------------------*\
    $icons
\*---------------------------------------*/
[class*=icon-]::before {
    --width: 1.5em;
    --color: invert(16%) sepia(17%) saturate(743%) hue-rotate(155deg) brightness(92%) contrast(89%);
    content: "";
    display: inline-block;
    margin-right: .4em;
    background-repeat: no-repeat;
    width: var(--width);
    height: var(--width);
}

/* .icon-name::before {
    content: "";
    background-image: url("../icons/icon-name.svg");
} */


/*---------------------------------------*\
    $Layout
\*---------------------------------------*/
.l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.l-section {
    margin-bottom: 6rem;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}
.center-content { text-align: center; }


/*---------------------------------------*\
    $Button
\*---------------------------------------*/
.button {
    display: inline-block;
    border-radius: .99em;
    padding: .5em 1.5em .5em;
    color: #fff;
    background-color: var(--color-amber);
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0,0,0, .1) 0 .3em .3em;
    transition: all .3s;
    cursor: pointer;
}
    .button:active { 
        transform: scale(.96); 
    }


/*---------------------------------------*\
    $Tag
\*---------------------------------------*/
.tag {
    display: inline-block;
    border-radius: .99em;
    padding: .4em 1em .4em;
    font-weight: 400;
    text-align: center;
}


/*---------------------------------------*\
    $Card
\*---------------------------------------*/
.card {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--gutter);
    box-shadow: var(--box-shadow);
}



/*----------------------------------------------------------------------*\
    $Media querys
\*----------------------------------------------------------------------*/
@media screen and (min-width: 540px) {}
@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2.4rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
        --body-font-size: 1.1rem;
        --small-font-size: .9rem;
    }
}
@media screen and (min-width: 960px) {}
@media screen and (min-width: 1024px) {}
