/*---------------------------------------*\
    $Variables
\*---------------------------------------*/
:root {
    /* Color palette */
    --color-first: #f44336;
    --color-second: #c62828;
    --color-amber: #ffc400;
    --color-bg: #ffebee;
    --color-text: #263238;
    
    /* filters color */
    /* App conversor: https://codepen.io/sosuke/pen/Pjoqqp?editors=0010 */
    --color-amber-filter: invert(79%) sepia(21%) saturate(1978%) hue-rotate(356deg) brightness(97%) contrast(108%);
    --color-second-filter:;
}
:root {
     /* Typography */
     --font-title: 'Rowdies', sans-serif;
     --font-content: 'Rubik', sans-serif;
     --h1-font-size: 2rem;
     --h2-font-size: 1.5rem;
     --h3-font-size: 1.2rem;
     --body-font-size: 1rem;
     --small-font-size: .8rem;
}
:root {
    /* Layout */
    --header-height: 3rem;
    --max-width: 1024px;
    --gutter: 1em;
    --border-radius: 16px;
}
:root {
    --opacity: .95;

    /* Shadow */
    --shadow-opacity: .1;
    --shadow-move-y: .3em;
    --shadow-move-x: .05em;
    --shadow-blur: calc(var(--shadow-move-y));
    --box-shadow: rgba(0, 0, 0, var(--shadow-opacity)) var(--shadow-move-x) var(--shadow-move-y) var(--shadow-blur);
}

/*---------------------------------------*\
    $Base
\*---------------------------------------*/
*,
*::after,
*::before { box-sizing: border-box; }
body {
    font-size: var(--body-font-size);
    font-family: var(--font-content);
    color: var(--color-text);
    background-color: var(--color-bg);
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
a { 
    color: var(--color-text);
    text-decoration: none; 
}
h1,
h2,
h3,
h4,
h5,
h6 { 
    margin-top: 0;
    font-family: var(--font-title); 
}
p {
    margin-top: 0;
    font-family: var(--font-content);
    font-weight: 300;
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }


/*---------------------------------------*\
    $icons
\*---------------------------------------*/
[class*=icon-] {
    display: flex;
    align-items: center;
}
[class*=icon-]::before {
    --width: 1.5em;
    --color: invert(16%) sepia(17%) saturate(743%) hue-rotate(155deg) brightness(92%) contrast(89%);
    content: "";
    display: inline-block;
    margin-right: .4em;
    background-repeat: no-repeat;
    width: var(--width);
    height: var(--width);
    filter: var(--color);
}
.icon-pokeball::before {
    content: "";
    background-image: url("../icons/icon-pokeball.svg");
}
.icon-search::before {
    content: "";
    background-image: url("../icons/icon-search.svg");
}
.icon-random::before {
    content: "";
    background-image: url("../icons/icon-random.svg");
}
/* .icon-name::before {
    content: "";
    background-image: url("../icons/icon-name.svg");
} */


/*---------------------------------------*\
    $Layout
\*---------------------------------------*/
.l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.l-section {
    margin-bottom: 2rem;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}
.center-content { text-align: center; }


/*---------------------------------------*\
    $Messages
\*---------------------------------------*/
.showMessageError {
    font-size: 1.5rem;
    color: var(--color-amber);
    font-weight: 600;
}


/*---------------------------------------*\
    $Button
\*---------------------------------------*/
.button {
    display: inline-block;
    border-radius: .99em;
    padding: .5em 1.5em .5em;
    color: #fff;
    background-color: var(--color-amber);
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0,0,0, .1) 0 .3em .3em;
    transition: all .3s;
    cursor: pointer;
}
    .button:active { 
        transform: scale(.96); 
    }


/*---------------------------------------*\
    $Tag
\*---------------------------------------*/
.tag {
    display: inline-block;
    border-radius: .99em;
    padding: .4em 1em .4em;
    font-weight: 400;
    text-align: center;
    background-color: var(--color-amber); 
    color: var(--color-second)
}


/*---------------------------------------*\
    $Card
\*---------------------------------------*/
.card {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--gutter);
    box-shadow: var(--box-shadow);
}


/*---------------------------------------*\
    $Grid
\*---------------------------------------*/
.grid {
    --columns-number: 2;
    --space: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--columns-number), 1fr);
    grid-gap: var(--space);
}


/*---------------------------------------*\
    $Main Header
\*---------------------------------------*/
.main-header {
    --gutter: 2em;
    --shadow-move-x: 4em;
    --shadow-move-y: 4em;
    position: relative;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--color-first);
    min-height: 60vh;
    box-shadow: var(--box-shadow);
    display: flex;

}   
    .main-header > div {
        margin: auto;
        justify-content: center;
    }
    .main-header__hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .1;
        object-fit: cover;
        object-position: center;
    }
    .main-header__content {
        position: relative;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .main-header__content > div:first-child {
        margin-bottom: 1em;
    }
    .main-header__content  [class*='icon-random'] {
        justify-content: center;
    }
    .main-header__content [class*='icon-random']::before {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(80deg) brightness(102%) contrast(104%);
    }
    .main-logo {
        margin-bottom: var(--gutter);
    }
    .main-header .pokemon {
        width: 100%;
        text-align: center;
    }
    .main-header__link {
        color: var(--color-bg);
        text-decoration: underline;
        transition: all .3s;
    }
    .main-header__link:hover {
        color: var(--color-amber);
    }


/*---------------------------------------*\
    $Form
\*---------------------------------------*/
.form {
    display: flex;
    margin-bottom: calc(var(--gutter) / 2);
}
    .form input {
        border: none;
        background-color: transparent;
        width: 100%;
    }
    .form__input {
        --padding: .5em;
        border-radius: 50em;
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form__input:first-child > i {
        margin: var(--padding);
    }
    .form__input:not(:last-child) {
        margin-right: .4em;
    }
    .form__search {
        color: var(--color-second);
        padding-right: var(--padding);
    }
    .form__search:focus {
        outline: none;
    }
    .form__input:last-child {
        position: relative;
    }
    .form__input.button {
        position: relative;
        background-color: transparent;
        box-shadow: initial;
        width: 2em;
        cursor: none;
    }
    .form__input [class*="icon-"]::before {
        margin-right: 0;
    }
    .form__submit {
        display: initial;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer; 
    }


/*---------------------------------------*\
    $Main
\*---------------------------------------*/
.main {}    
    .main > div {
        flex-direction: column;
    }


/*---------------------------------------*\
    $Pokem list
\*---------------------------------------*/
.pokemon-list {
    text-align: center;
}
    .pokemon-list .grid {
        --columns-number: 1;
    }

    
/*---------------------------------------*\
    $Pokemon card
\*---------------------------------------*/
.card-pokemon {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
    .card-pokemon__content {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .card-pokemon__id {
        opacity: .6;
    }
    .card-pokemon__image {
        position: relative;
        margin-bottom: -.85rem;
    }
    .card-pokemon__name {
        margin-bottom: 0;
    }
    .card-pokemon__tags {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-pokemon .tag:nth-child(2) {
        margin-top: .5em;
    }
    .card-pokemon__container-image {
        --width: 4rem;
        display: flex;
        height: var(--width);
    }
    .card-pokemon.card-pokemon--vertical {
        flex-direction: column;
    }
    .card-pokemon.card-pokemon--vertical .card-pokemon__container-image {
        --width: 12rem;
        width: var(--width);;
    }
    .card-pokemon.card-pokemon--vertical .card-pokemon__name {
        margin-bottom:  .5em;
    }
    .card-pokemon.card-pokemon--vertical .card-pokemon__tags {
        flex-direction: initial;
    }
    .card-pokemon.card-pokemon--vertical .tag:nth-child(2) {
        margin-top: 0;
        margin-left: calc(var(--gutter) / 2);
    }


/*----------------------------------------------------------------------*\
    $Media querys
\*----------------------------------------------------------------------*/
@media screen and (min-width: 540px) {
    /*---------------------------------------*\
        $Pokem list
    \*---------------------------------------*/
    .pokemon-list {}
        .pokemon-list .grid {
            --columns-number: 2;
        }
}
@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2.4rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
        --body-font-size: 1.1rem;
        --small-font-size: .9rem;
    }

    /*---------------------------------------*\
        $Main Header
    \*---------------------------------------*/
    .main-header__content {
        flex-direction: row;
        gap: var(--gutter);
    }
    .main-header__content > div:first-child {
        display: flex;
        justify-content:  center;
        flex-direction: column;
        flex-basis: 60%;
    }
    .main-header .form {
        width: 100%;
    }
    .main-header .pokemon {
        flex-basis: 40%;
    }
    .main-header__content .pokemon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .main-header__content .showMessageError {
        width: 80%;
        text-align: right;
    }
    
    
    /*---------------------------------------*\
        $Pokemon card
    \*---------------------------------------*/
    .card-pokemon__container-image {
        --width: 5rem;
    }
    .card-pokemon.card-pokemon--vertical .card-pokemon__container-image {
        --width: 14rem;
    }
}
@media screen and (min-width: 960px) {
    /*---------------------------------------*\
    $Pokem list
    \*---------------------------------------*/
    .pokemon-list {}
        .pokemon-list .grid {
            --columns-number: 3;
    }
}
@media screen and (min-width: 1024px) {}
